{% include "django/forms/widgets/input.html" %}
{% if message_div %}
    <div class="bootstrap-input" id="{{ message_div.name }}"></div>
{% endif %}
{% if download_button.show %}
    {% if current_filename.show %}
        <a class="btn btn-primary" href="{{ download_button.href }}">Download {{ current_filename.f_name }}</a>
    {% else %}
        <a class="btn btn-primary" href="{{ download_button.href }}">Download</a>
    {% endif %}
{% endif %}
{% for cur_hidden_name, cur_hidden_values in hidden_inputs.items %}
    <input type="hidden" name="{{ widget.name }}_{{ cur_hidden_name }}" id="{{ widget.name }}_{{ cur_hidden_name }}"
            {% if cur_hidden_values.value %} value="{{ cur_hidden_values.value }}"{% endif %}/>
{% endfor %}