{% extends "base_table.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load th_bootstrap %}
{% load auto_url %}

{% block delete_dlg %}
    {% create_confirm_delete "confirm_delete" "Are you sure you want to delete session " %}
{% endblock %}

{% block main_content %}
    {% render_detail_fields %}
    {{ block.super }}
{% endblock %}

{% block navs %}
    {% if perms.subjectdb.add_session %}
        <li>
            <a href="{% url_from_class "subjectdb.views.session.SessionAdd" experiment_acronym=object.acronym %}" id="add_session">Add
                Session</a>
        </li>
    {% endif %}
    {% if perms.subjectdb.change_experiment %}
        <li>
            <a href="{% url_from_class "subjectdb.views.experiments.ExperimentEdit" pk=object.id %}" id="edit_experiment">Edit
                Experiment</a>
        </li>
    {% endif %}
    {% if perms.subjectdb.add_session %}
        <li>
            <a href="{% url_from_class "subjectdb.views.email.Recruit" experiment_pk=object.id %}" id="recruit">Recruit</a>
        </li>
    {% endif %}
    {% if perms.subjectdb.delete_session %}
        <li>
            <a href="{% url_from_class "subjectdb.views.session.SessionTrash" experiment_acronym=object.acronym %}" id="session_trash">Undelete
                Sessions</a>
        </li>
    {% endif %}
    <li class="dropdown"><a class="dropdown-toggle" id="export_excel_dropdown" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="true" href="#">
        Export to Excel <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li>
                <a href="{% url_from_class "subjectdb.views.experiments.ExperimentToExcel" acronym=object.acronym file_format="xls" include_pilots="False" %}"
                   id="experiment_excel_no_pilots">Export without Pilot Subjects</a>
            </li>
            <li>
                <a href="{% url_from_class "subjectdb.views.experiments.ExperimentToExcel" acronym=object.acronym file_format="xls" include_pilots="True" %}"
                   id="experiment_excel_with_pilots">Export with Pilot Subjects</a>
            </li>
        </ul>
    </li>
    {% if object.get_all_mris.count > 0 %}
        <li>
            <a href="{% url_from_class "subjectdb.views.experiments.DownloadAllExperimentMRIS" acronym=object.acronym %}"
               id="download_all_mris">Download all MRIs</a>
        </li>
    {% endif %}
{% endblock %}