{% extends "base_form.html" %}
{% load bootstrap3 %}
{% load formset_tags %}

{% block extra_form_input %}
    {% for cur_inline in inlines %}
        <div id="formset" data-formset-prefix="{{ cur_inline.prefix }}">
            {{ cur_inline.management_form }}
            {% buttons layout="horizontal" %}
                <input type="button" class="btn btn-default" value="Add Item" id="id_add_item" data-formset-add>
            {% endbuttons %}
            <div id="data-formset-body" data-formset-body>
                {% for cur_form in cur_inline %}
                    <div data-formset-form class="form-group">
                        <div class="form-inline">
                            <div class="col-md-offset-3 col-md-9">

                                {% bootstrap_form cur_form layout="inline" exclude="DELETE" %}
                                <div class="hidden">
                                    {% bootstrap_field cur_form.DELETE layout="horizontal" %}
                                </div>
                                {% buttons layout="inline" %}
                                    <button type="button" class="btn btn-default" data-formset-delete-button>Delete Item
                                    </button>
                                {% endbuttons %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <script type="form-template" data-formset-empty-form>
                {% escapescript %}

                    <div data-formset-form class="form-group">
                        <div class="form-inline">

                            <div class="col-md-offset-3 col-md-9">
                                {% bootstrap_form cur_inline.empty_form layout="inline" exclude="DELETE" %}
                                <div class="hidden">
                                    {% bootstrap_field cur_inline.empty_form.DELETE layout="horizontal" %}
                                </div>
                                {% buttons layout="inline" %}
                                    <button type="button" class="btn btn-default" data-formset-delete-button>Delete Item
                                    </button>
                                {% endbuttons %}
                            </div>
                        </div>
                    </div>
                {% endescapescript %}
            </script>

        </div>

    {% endfor %}

{% endblock %}

{% block extra_form_buttons %}
    <a class="btn btn-default" href="{{ request.path }}">Reset</a>
{% endblock %}
