{% extends "base_table.html" %}

{% comment %}
    Copyright (c) 2016-2025, Thomas Hartmann

    This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load th_bootstrap %}
{% load auto_url %}
{% load bootstrap3 %}

{% block filter %}
    {% if filter %}
        <div class="row">
            <div class="col-sm-12">
                <form action="" method="get" class="form">
                    {% bootstrap_form filter.form bound_css_class="" %}
                    {% bootstrap_button 'Filter' id='id_filterbutton' %}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block table %}
    <div class="row top15">
        <div class="col-sm-2">
            <a id="id_compose_email" href="{% url_from_class "subjectdb.views.email.ComposeEmail" experiment_pk=object.id reuse_draft=False %}" class="btn btn-primary">Compose Email</a>
        </div>
        {% if has_draft_mail %}
            <div class="col-sm-2">
                <a id="id_reuse_draft" href="{% url_from_class "subjectdb.views.email.ComposeEmail" experiment_pk=object.id reuse_draft=True %}" class="btn btn-primary">Continue Draft</a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            {{ block.super }}
        </div>
    </div>
{% endblock %}