{% extends "base_form.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load bootstrap3 %}
{% load th_bootstrap %}

{% block extra_form_input %}
    {% render_inline_forms %}
    <div class="row personal_information">
        <div class="col-md-3">
            <h3 class="text-right">Personal Information</h3>
        </div>
    </div>
    {% bootstrap_form extra_form layout="horizontal" form_group_class="form-group personal_information" %}
{% endblock %}

{% block hidden %}
    <div class="modal fade" id="remove_personal_warning" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>You have removed the consent to store personal information.</p>
                    <p>If you submit this form, the personal information of the participant will be deleted.</p>
                    <p><strong>This cannot be undone!</strong></p>
                    <p><strong>Are you sure?</strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_delete_personal_info">
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_form_buttons %}
    <a class="btn btn-default" href="{{ request.path }}">Reset</a>
{% endblock %}