{% extends "base_bare_skel.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %} ERROR! {% endblock %}

{% block body %}
    <h1>OOOPS!! That should not have happened!</h1>
    <p>Something went wrong within the database. This is most probably a bug. So, most probably, this is not your
        fault!</p>
    <h2>What should you do now?</h2>
    <ul>
        <li>Call or write to the Admin of the database.</li>
        <li>Say you had a <strong>ERROR 500</strong></li>
        <li>Tell him/her exactly what you wanted to do.</li>
        <li>If you tried to upload some file, send the file along.</li>
    </ul>
{% endblock %}
