{% extends "base.html" %}

{% comment %}
 Copyright (c) 2016-2025, Thomas Hartmann

 This file is part of the OBOB Subject Database Project, see: https://gitlab.com/obob/obob_subjectdb/

    obob_subjectdb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    obob_subjectdb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with obob_subjectdb. If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block main_content %}
    <h4>If you cannot figure out how to do something</h4>
    <p>Write a mail to Thomas Hartmann.</p>
    <h4>If you think there is wrong data in the database</h4>
    <p>If the handedness or the gender of a participant needs to be corrected, tell Fred.</p>
    <p>In any other case, write a mail to Thomas Hartmann.</p>
    <h4>If you found a bug or you think that the flow of the database can be improved</h4>
    <p>In this case, you can create an issue here: <a href="https://gitlab.com/obob/obob_subjectdb/issues">https://gitlab.com/obob/obob_subjectdb/issues</a>.
    </p>
    <p>Please describe the problem in as much detail as possible.</p>
    <h4>Why can I not login?</h4>
    <p>Write a mail to Thomas Hartmann.</p>
{% endblock %}